<!-- ouverture de la <div id="haut"> au niveau du layout application -->
    <h1>Sign Up</h1>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  	<%= devise_error_messages! %>

		<div class="inPut">
			<%= f.label :companyName %>
			<%= f.text_field :companyName, :autofocus => true %>
		</div>
		<div class="inPut">
			<%= f.label :address %>
			<%= f.text_field :address %>
		</div>
		<div class="inPut">
			<%= f.label :tel %>
			<%= f.text_field :tel %>
		</div>
		<div class="inPut">
			<%= f.label :email %>
			<%= f.email_field :email %>
		</div>
		<div class="inPut">
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>

		<div class="inPut">
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
		</div>
	    <div id="submit">
	    	<%= f.submit "S'inscrire" %>
	    </div>
	<% end %>
</div> <!-- fin de la <div id="haut"> -->
<div id="bas">
    <div id="b1">
        <%= render "devise/shared/links" %>
    </div>
    <div id="b2"></div>
</div>
