<%= render "dashboard/shared/user_links" %>

<div class="row">
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>Name:</strong>
    <%= @openfire_user.name %>
  </p>
  
  <p>
    <strong>Username:</strong>
    <%= @openfire_user.username %>
  </p>
  
  <p>
    <strong>Email:</strong>
    <%= @openfire_user.email %>
  </p>
  
  <p>
    <strong>Groups:</strong>
    <%= @openfire_user.groups %>
  </p>
  <% if flash[:password] %>
    <p>
      <strong>password:</strong>
      <%= flash[:password] %>
    </p>
  <% end %>
</div>
