<div class="row" id="contact">
	<div class="large-12 small-12 columns">
		<%= render('layouts/messages') %>
		<%= simple_form_for :home, :url => send_mail_home_index_path do |f| %>
			<div class="row">
				<div class="large-6 small-6 columns">
					<%= f.input :name, :autofocus => true%>
				</div>
				<div class="large-6 small-6 columns">
					<%= f.input :email%>
				</div>
			</div>
			<div class="row">
				<div class="large-12 small-12 columns">
					<%= f.input :message, as: :text %>
				</div>
			</div>
			<div class="row">
				<div class="large-12 small-12 columns">
		        	<%= f.button :submit, 'Envoyer',:class => 'button tiny expand' %>
				</div>
			</div>
		<% end %>
	</div>
</div>