<div class="row" id="partenaires">
	<div class="large-4 small-12 medium-12 columns">
		<%= link_to "http://iutcalais.univ-littoral.fr/", :target => "_blank" do %>
			<div class="panel">
				<%= image_tag('logo_iut.png') %>
			</div>
		<%end%>
	</div>
	<div class="large-4 small-12 medium-12 columns">
		<%= link_to "http://www.nilsine.fr", :target => "_blank" do %>
			<div class="panel">
				<%= image_tag('nilsine.png') %>
			</div>
		<%end%>
	</div>
	<div class="large-4 small-12 medium-12 columns">
		<%= link_to "http://mepulco.free.fr/", :target => "_blank" do %>
			<div class="panel">
				<%= image_tag('mepulco_new.png') %>
			</div>
		<%end%>
	</div>
</div>