<section id="up-line"></section>
<header>
  <div class="row">
    <div class="large-4 columns" id="about">
      <h1><i class="fa fa-fire "></i> Misntant</h1>
      <p>Company | Messenger</p>
    </div>
    <div class="large-8   columns" id="navigation">
      <nav class="top-bar" data-topbar> 
        <ul class="title-area"> 
          <li class="name"></li>
          <li class="toggle-topbar menu-icon">
            <a href="#"></a>
          </li> 
        </ul> 
        <section class="top-bar-section"> 
          <ul class="left"> 
            <li><%= link_to 'Acceuil',home_index_path %></li> 
            <li><%= link_to 'A propos de Minstant',about_home_index_path %></li> 
            <li><%= link_to 'Partenaires',partenaires_home_index_path %></li> 
            <li><%= link_to 'Connexion ou Inscription',connexIncrip_home_index_path%></li> 
            <li><%= link_to 'Contact',contact_home_index_path%></li> 
          </ul> 
        </section> 
      </nav>
    </div>
  </div>
</header>