<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Minstant" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Minstant" %>">
     <%= stylesheet_link_tag "dashboard_styles", "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600", media: "all", "data-turbolinks-track" => true %> 
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <section id="principale">
    <section id="panel-left">
      <div id="logo">
        <div>
          <i class="fa fa-fire fa-2x"></i>
          Minstant
        </div>
      <div id="menu">
        <ul>
            <li>
              <%= link_to dashboard_index_path do %>
                <div>
                  <i class="fa fa-home fa-2x"></i>
                  Control
                </div>
              <% end %>
            </li>
            <li>
              <%= link_to users_dashboard_index_path do %>
                <div>
                  <i class="fa fa-user fa-2x"></i>
                  Gérer utilisateurs
                </div>
              <% end %>
            </li>
            <li>
              <%= link_to edit_mi_user_registration_path do %>
                <div>
                  <i class="fa fa-cogs fa-2x"></i>
                  Paramètres
                </div>
              <% end %>
            </li>
        </ul>
      </div>
    </section>
    <section id="container">
      <section id="panel-up">
        <div id="fr">
          <div >
            <input  id="search" type="text" placeholder="Rechercher">
          </div>
          <div>
            <%= @login_email %>
          </div>
          <div>
            <%= link_to log_out_path do %>
                <div>
                  <i class="fa fa-sign-out fa-2x"></i>
                </div>
                <div style="margin-left: 0">
                  Deconnecter
                </div>
            <% end %>
          </div>
        </div>
      </section>
      <section id="content">
        <%= yield %>
      </section>
    </section>
  </section>
  </body>
</html>
